<template name="login_layout">
<head>
    <title>Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="stylesheets/style.css?ver=20161010001" rel="stylesheet" type="text/css">
</head>
<div class="topLine"></div>
<div class="content">
    <div class="logo">
        <img alt="logo" src="/images/logo.png" />
    </div>
    {{>loginTemp}}

</div>
<div class="footer">
    <div class="inner">
        <p>
            ©2015 iHealth Labs Inc.All rights reserved.iHealth is a trademark of iHealth Labs Inc.
        </p>
        <p>
            View our <a href="http://www.ihealthlabs.com/about-us/privacy-policy/" target="_blank">Privacy Policy</a> or
            <a href="http://www.ihealthlabs.com/about-us/terms-and-conditions/" target="_blank">Terms & Conditions.</a>
        </p>
    </div>
</div>
</template>